{% extends "base.html" %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <div class="w3-container w3-padding w3-margin w3-center">
        {% if user.is_authenticated %}
            <p>
                Welcome, <strong>{{ request.session.profile.given_name }}</strong>!
            </p>
            <p>
                <a href="{% url 'authentication:logout' %}"
                   class="w3-bar-item w3-border-right w3-button w3-theme w3-round">Logout </a>
            </p>
        {% else %}
            Sorry, there is a problem authenticating you. Please try again.
        {% endif %}
    </div>
{% endblock content %}
